@model IEnumerable<ExamProject.Models.Status>

@{
    ViewBag.Title = "AfterLoginStudent";
}

@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>After Login</title>
</head>
<body>
    <h1>Student</h1>
    @*<h4>Hello, @ViewBag.studentName</h4>*@
    @*<div>@Html.ActionLink("New Assignment has been added by teacher.", "AfterLoginStudent", new { studentId = Model.First().StudentId }, new { @id = "promptNewAssignment" })</div>*@
    @*<div>@Html.ActionLink("Assignment has been deleted by the teacher.", "AfterLoginStudent", new { studentId = Model.First().StudentId }, new { @id = "promptDeletedAssignment" })</div>*@
    <div id="detailsDiv"></div>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                State
            </th>
            <th>
                Options
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Task.Title)
                </td>
                @if (item.State == 1)
                {
                    <td>Still Working</td>
                }
                else if (item.State == 2)
                {
                    <td class="text-danger">Need Help</td>
                }
                else
                {
                    <td class="text-success">Finished</td>
                }
                @*<td>
                    @Ajax.ActionLink("Details", "DetailsAssignment4Student", new { stateOfAssignmentId = item.StatusId }, new AjaxOptions
               {
                   UpdateTargetId = "detailsDiv",
                   InsertionMode = InsertionMode.Replace
               })
                </td>*@
            </tr>
        }
    </table>

    <div>
        @Html.ActionLink("Logout", "Index")
    </div>

</body>
</html>

@section scripts
{
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        // proxy class for communicating with the server
        var myHub = $.connection.myHub;

        $('#promptNewAssignment').hide();
        $('#promptDeletedAssignment').hide();

        myHub.client.updateNewAssignment = function ()
        {
            $('#promptNewAssignment').show();
        }
        myHub.client.updateAfterDeletingAssignment = function () {
            $('#promptDeletedAssignment').show();
        }

        //create the connection with connection.hub.start.
        $.connection.hub.start().done(function () {
            //Call myHub method
            console.log("SignalR started");
        });
    </script>
}